{% extends 'base.html.twig' %}

{% block title %}
    Mon compte - My French Epicery !
{% endblock %}

{% block content %}
    <div class="container min-vh-100 mt-5">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="fw-bold">Bienvenue, {{ app.user.firstName }} !</h2>
            <div class="d-grid gap-2 d-md-flex">
                {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('/admin') }}" class="btn btn-primary me-md-2">Acceder au backoffice !</a>
                {% endif %}
                <a href="{{ path('app_change_password') }}" class="btn btn-primary me-md-2">Modifier mon mot de passe</a>
                <a href="{{ path('app_account_address') }}" class="btn btn-secondary">Gérer mes adresses</a>
                <!-- Ajoutez d'autres liens et fonctionnalités au besoin -->
            </div>
        </div>

        <div>
            <p class="lead">Découvrez votre espace My French Epicery et profitez de nos services.</p>
        </div>
    </div>
{% endblock %}
