{% extends 'base.html.twig' %}


{% block title %}
    À propos - Ma French Epicerie !
{% endblock %}

{% block content %}

    <div class="container my-5">
        <h1 class="mb-4">À propos de Ma Frenche Epicerie</h1>

        <p>Bienvenue chez Ma Frenche Epicerie, votre destination gourmande pour des produits d'épicerie exceptionnels au cœur de la tradition française. Notre passion pour la cuisine de qualité et les ingrédients authentiques nous a conduits à créer un lieu où les amateurs de bonne cuisine peuvent trouver tout ce dont ils ont besoin.</p>

        <h2>Notre Histoire</h2>
        <p>Fondée en [année de fondation], Ma Frenche Epicerie est le fruit de l'amour pour la gastronomie française. C'est dans nos racines que nous avons puisé l'inspiration pour créer un espace qui célèbre les saveurs uniques et les traditions culinaires de la France. Chaque produit soigneusement sélectionné raconte une histoire, celle d'un terroir, d'un artisan et d'un savoir-faire ancestral.</p>

        <h2>Notre Engagement</h2>
        <p>Chez Ma Frenche Epicerie, nous nous engageons à vous offrir une expérience culinaire exceptionnelle. Nous travaillons en étroite collaboration avec des producteurs locaux et des fournisseurs renommés pour garantir la qualité et la fraîcheur de chaque produit que nous proposons. Nous croyons en une alimentation saine, respectueuse de l'environnement et en soutien aux communautés locales.</p>

        <h2>Notre Sélection</h2>
        <p>Parcourez nos rayons soigneusement agencés et découvrez une gamme diversifiée de produits de première qualité. Des fromages artisanaux aux confitures maison, en passant par les vins fins et les délices sucrés, chaque article a été choisi avec soin pour vous offrir une expérience gustative inoubliable. Notre équipe passionnée est là pour vous guider, partager des conseils culinaires et vous faire découvrir de nouveaux favoris.</p>

        <h2>Votre Épicerie de Quartier</h2>
        <p>Ma Frenche Epicerie n'est pas seulement un magasin, c'est un lieu de rencontres et d'échanges. Nous sommes fiers de faire partie de votre quartier et de contribuer à créer une communauté autour de la passion pour la cuisine. Venez nous rendre visite, découvrez de nouvelles saveurs et laissez-vous inspirer par le monde délicieux de Ma Frenche Epicerie.</p>

        <p>Merci de faire partie de notre histoire gourmande.</p>

        <p>L'équipe de Ma Frenche Epicerie</p>
    </div>
{% endblock %}