{# templates de la confirmation mail d'scription #}
<!DOCTYPE html>
<html>
<body>
<h1>Bienvenue, {{ username }} !</h1>
<p>Merci de vous être inscrit sur notre site. Votre compte a été confirmé avec succès.</p>
</body>
</html>
